<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:camel="http://camel.apache.org/schema/spring"
	   xmlns="http://www.springframework.org/schema/beans"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd">

	<camel:camelContext>
		<camel:template id="producerTemplate"/>

		<camel:route id="eventResultsTrigger">
			<camel:from uri="jms:queue:pointToPoint_inboundEvents"/>
			<camel:to uri="bean:com.byteflair.resthooks.services.SubscriptionService?method=onEventTriggered"/>
		</camel:route>

	</camel:camelContext>


	<bean id="jmsConnectionFactory"
		  class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL" value="vm://localhost"/>
	</bean>

	<bean id="pooledConnectionFactory"
		  class="org.apache.activemq.pool.PooledConnectionFactory" init-method="start" destroy-method="stop">
		<property name="maxConnections" value="8"/>
		<property name="connectionFactory" ref="jmsConnectionFactory"/>
	</bean>

	<bean id="jmsConfig"
		  class="org.apache.camel.component.jms.JmsConfiguration">
		<property name="connectionFactory" ref="pooledConnectionFactory"/>
		<property name="concurrentConsumers" value="10"/>
	</bean>

	<bean id="activemq"
		  class="org.apache.activemq.camel.component.ActiveMQComponent">
		<property name="configuration" ref="jmsConfig"/>
	</bean>
</beans>